/*==================== GERAL ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

main {
  background-color: #006557;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-left: 350px;
  margin-right: 350px;
}

.bg-top {
  padding-top: 0.5px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  text-align: center;
}

section {
  margin-left: 310px;
  padding-bottom: 100px;
}

/*==================== PERFIL ====================*/
.seu__perfil {  /* nome seu perfil */
  text-align: left;
  margin-left: 400px;
  padding-top: 90px;
  padding-bottom: 50px;
  letter-spacing: 2px;
}

#perfil {   /* imagem seu perfil */
  width: 15%;
  height: 15%;    
  margin-left: -430px; 
}

.digite__name {
  font-size: 20px;
  color: black;
  margin-top: -175px;
  text-align: left;
  margin-left: 570px;
  padding-top: 15px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.digite__city { 
  font-size: 20px;
  color: grey;
  text-align: left; 
  margin-left: 570px;  
  padding-bottom: 10px;
}

.perfil__icon-star img {
  display: inline-block;
  grid-template-columns: repeat(5, 1fr);
  margin-inline: 10px;
}

.perfil__icon-star p {
  align-items: left;
  margin-left: 290px;
  margin-top: -20px;
}

/*======== IMAGENS e TEXTOS - DIABETES e DOSES =============*/
#clients {
  width: 100%;
  color: black;
  padding: 30px;
}

.border {  /* borda acima do completar perfil  */
  border-top: 0.5px solid grey;
  width: 53%;
  margin-top: 80px;
  padding-bottom: 20px;
}   

.completar-perfil a {  /* texto Completar perfil */
  margin-left: -540px;
  margin-right: 160px;
  font-size: 2.2rem;  
  color: #07689f;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: none;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px ;
  padding-bottom: 50px; 
  letter-spacing: 2px;
}

.completar-perfil a:hover {
  text-shadow: 0 0 0.5px #006557;
}  

.seta i {
  position: absolute;
  display: flex;    
  color: #07689f;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 410px;
  margin-top: -28px;
}

.clients-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.diabetes {  /* imagem diabetes */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  height: -50%;
  width: 25%;
  margin-top: 5px;
  padding-bottom: 60px;
  border-radius: 2%;
}

.doses {  /* imagem doses */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 340px;
  height: 45%;
  width: 25%;
  margin-top: 5px;
  padding-bottom: 60px;
  border-radius: 2%;
}

/*==================== PESQUISA ====================*/
   
.idem {
  padding: 15px;
  border: 1px #DDD solid;
}

.idem:nth-child(1){
  margin-top: 50px;
  width: 550px;
  border-radius: 10px 0px 0px 10px;
}

.idem:nth-child(2){
  width: 40px;
  border-radius: 0px 10px 10px 0px;
  text-align:left;
  color: black;
  cursor: pointer;
  text-indent: -1.3px;
}

.idem:nth-child(1):focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 1px #DDD solid;
} 
/*==================== ICONES ====================*/

.icones {  /*icones wifi. sinal. bateria*/
  color: white;
  margin-left: 530px;
  margin-top: -20px;
  align-items: right;
  letter-spacing: 3px;
}

.clock {  /*relógio digital*/
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  font-size: 20px;
}
/*==================== TEXTOS DAS IMAGENS ====================*/

.cap-profissao {  /* texto capacitações profissionais */
  display: flex;
  font-size: 25px;
  color: grey;
  align-items: center;
  justify-items: center;
  letter-spacing: 2px;
  padding-top: 45px;
  padding-bottom: 15px;
}

.parceiros {   /* texto parceiros */
  position: absolute;
  width: 10%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  font-size: 20px;
  background: #d48a04;  
  color: white;  
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
}

.alimentos {   /* Diabetes: alimentos para evitar */
  position: absolute;
  display: flex;
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 160px;
}

.ministrar {   /* Como ministrar doses */
  position: absolute;
  display: flex;
  font-size: 20px;
  color: white;
  text-align: center;
  justify-items: center;
  margin-left: 360px;
  margin-top: 160px;
}

.ver-mais {  /* texto ver mais */
  position: absolute;
  display: flex;
  font-size: 20px;
  color: #07689f;
  font-weight:bold;
  align-items: center;
  margin-left: 520px;
  margin-top: -40px;
  padding-bottom: 30px;
  justify-content: center;
  text-decoration:none !important  /* tirar o sublinhado do texto */
}

.ver-mais :hover {
  text-shadow: 0 0 0.5px #006557;
}

.capacitacao {   /* texto capacitações */
  position: absolute; 
  width: 13%;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 360px;
  margin-top: 20px;
  background: #3b2d72; /* hex: 0 - F */
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
}
/* @media screen and (max-width:580px) */
